<main>
    <h1 class="text-center">Courses</h1>
    <section>
        <a href="/create" class="btn btn-warning ">Create Course</a>
        <form class="search float-right">
            <label>Search: </label>
            <input type="text" name="search">
            <input type="submit" class="btn btn-primary" value="search">
        </form>
    </section>

    <div class="container mt-3">
        <div class="row ">
            <div class="card-deck d-flex justify-content-center">
                {{#if courses}}
                {{#each courses}}
                <div class="card mb-4">
                    <img class="card-img-top" src="{{image}}" alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-footer">
                        <a href="/{{_id}}/details"><button type="button" class="btn btn-primary">Details</button></a>
                        <small class="float-right">{{timestamp}}</small>
                    </div>
                </div>
                {{/each}}
                {{else}}
            </div>
            <h3 class="text-center">No courses...</h3>
            {{/if}}

        </div>
</main>